body {
	background:#AABBCC;

}

.content{
  display: block;
}

a{
  text-decoration: none;
}

.f16{
  font-size: 16px;
}

.f20{
  font-size: 20px;
}

.f24{
  font-size: 24px;
}






/* INDEX */

.introduction{
  margin: 0px auto;
  padding: 50px 0px;
  text-align: center;
  font-size: 28px;
  width: 600px;
}

.forwardcontainer{
  text-align: center;
  padding: 50px 0px;
}

#developer{
  display: inline-block;
  width: 100px;
  padding: 0px 50px;
  font-size: 24px;
}

#performer{
  display: inline-block;
  width: 100px;
  padding: 0px 50px;
  font-size: 24px;
}

.socialmedia{
  text-align: center;
  padding-top: 50px;
}

.socialmedia a{
  padding: 10px;
}









.topcontainer{

}

.textblock{
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.video{
  display: inline-block;
  vertical-align: top;
  width: 45%;
}





/* ABOUT ME*/

.container{
  text-align: center;
  margin: 0px 0px 200px 0px;
  height: 350px;
}

/*.container > div {
  display: none;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}*/

.slide{
  display: none;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}


.active-slide{
  display: block;
}

.header{
  font-size: 60px;
  font-weight: 400;
  padding: 100px 0px 75px 0px;
}

.aboutme-block{
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}



#aboutme-text{
  text-align: left;
}

#education-left{
  float: left;
  text-align: left;
}

#education-right{
  float: right;
  text-align: right;
}

.coursework-block{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.coursework-title{
  text-align: center;
}

.coursework-list{
  text-align: left;
  font-size: 20px;
}

.skills-block{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.skills-title{
  text-align: center;
}

.skills-programminglist{
  text-align: center;
}

.skills-programming{
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

.skills-list{
  text-align: left;
  font-size: 20px;
}

.slider{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}


.slider ul li {
  width: 125px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 10px;
  text-align: center;
  border: 2px solid black;
}

.active-block {
  font-weight: 400;
  background-color: gray;
}


/* EXPERIENCE */


.title{
  font-size: 40px;
}

.subtitle{
  font-size: 24px;
  margin-bottom: 50px;
}

.bold{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.side-menu {
  display: inline-block;
  text-align: left;
  margin: 0px 25px;
}

.side-menu ul {
  list-style-type: none;
}

.side-menu ul li {
  width: 140px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 10px;
  border: 2px solid black;

}

.active-ds{
  font-weight: 400;
  background-color: gray;
}

.experience-textblock {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  margin: 0px 25px;
}

.experience-subblock {
  display: none;
}

.active-subblock {
  display: block;
}

.subheader{
  vertical-align: top;
  font-size: 24px;
  margin-bottom: 10px;
}

.description{
  vertical-align: top;
  text-align: left;
}

/*

.content{
  display: block;
  margin: 100px;
  border: 3px solid #FFFFFF;
  padding: 100px 100px;
  position: relative;
}

.container{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.textblock{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 40%;
  float:left;
}

.title{
  font-size: 36px;
  position: relative;
  clear: both;
  height: 50%;
  width: 100%;
}

.date{
  font-size: 20px;
  position: relative;
  clear: both;
  height: 50%;
  width: 100%;
}

.video{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 40%;
  float: right;
}







*/




/* Projects */












