.workout-page {
	display: grid;
	justify-content: center;
}

.workout-answer {
	display: inline-flex;
	align-items: center;

	border: 4px red solid;
	margin-bottom: 20px;
	padding: 24px 12px;
}

.workout-answer-label {
	margin: auto;
}

.rhyme-divider {
	white-space: pre-wrap;
}
