.schedule-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.schedule {
	display: grid;

	width: 400px;
}

.final-rhyme {
	margin-left: 200px;

	text-align: center;
	white-space: pre-wrap;
}
