.cell-background {
	background-color: grey;
	height: 36px;
	width: 36px;
}

.cell-input {
	height: 30px;
	width: 28px;

	font-family: "Lucida Console", Monaco, monospace;
	font-size: 36px;

	cursor: pointer;
	text-align: center;
}
