.final-answer {
	display: inline-flex;
	align-items: center;

	border: 4px red solid;
	margin-bottom: 20px;
	padding: 24px 12px;
}

.final-answer-label {
	margin: auto;
}

.rhyme-divider {
	white-space: pre-wrap;
}
