.cell-background {
	background-color: grey;
	height: 48px;
	width: 48px;
}

.cell-input {
	height: 42px;
	width: 40px;

	font-family: "Lucida Console", Monaco, monospace;
	font-size: 48px;

	cursor: pointer;
	text-align: center;
}
