.word-puzzle-page {
	display: flex;
	justify-content: center;
}

.cell-background {
	background-color: grey;
	height: 35px;
	width: 35px;
}

.cell-input {
	height: 29px;
	width: 27px;

	font-family: "Lucida Console", Monaco, monospace;
	font-size: 35px;

	cursor: pointer;
	text-align: center;
}

.description {
	margin-left: 40px;
	width: 434px;

	text-align: center;
}

.word-puzzle-answer {
	padding: 24px;
}
