.dance-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.curved-text-clues {
	margin: 0 200px;
	font-size: 24px;
}

#upper-left-letters div span:nth-child(-n + 12),
#upper-right-letters div span:nth-child(n + 13),
#lower-left-letters div span:nth-child(-n + 12),
#lower-right-letters div span:nth-child(n + 13) {
	visibility: hidden;
}
